.content-container{
  background-color: rgb(202, 231, 231);
  margin: auto;
  width: 80%;
  padding: 10px;
  border: 5px solid green; 
}
.inner-border{
    border: dotted rgb(134, 241, 134);
    padding: 15px;
}
body{
    background-image: url("/Fruit-Game/images/background.jpg");
    background-repeat: no-repeat;
}
#title{
    text-align: center;
}
ol{
    list-style-type: none;
}